.cart {
    text-align: center;
    margin-top: 30px;
    float: right;
    border: 1px solid #000000;
    height: 40px;
    width: 120px;
}

button {
    background-color: blueviolet;
    margin-top: 30px;
    color: white;
    height: 40px;
    width: 120px;
    border: 2px solid steelblue;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.disabledButton {
    background-color: #d8d8d8;
}

.product-image {
    height: 100px;
    width: 50px;
    float: left;
    margin: 0px;
    clear: both;
}

.product-info {
    float: right;
    margin: 0px;
    clear: both;
}